# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Trained models
*.pth
*.pt
*.ckpt

# Dataset
data/*
!data/.gitkeep

# Experiment outputs
results/*

# Environment/secrets
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db